.git/**
image-eap6/install/*.zip
image-eap6/install/*.jar
image-httpd-ews2/install/*.zip
image-httpd-ews2/install/*.jar
image-jon3-server/install/*.zip
image-jon3-server/install/*.jar
image-postgres-9/install/*.zip
image-postgres-9/install/*.jar
image-dv6/install/*.zip
image-dv6/install/*.jar
image-dv6/install/*.war
tmp/**
